extends layout

block content
  h1= title
  button(type="button", onclick="doReduce()" class="btn btn-warning") press me
  #reduce Reduce the value
  script.
    var count = 20
    var change = -1
    function doReduce(){
      console.log("Camer here")
      count = count + change
      change = change -1
      let resultdiv = document.getElementById('reduce')
      resultdiv.innerHTML=`Count ${count} with bump ${change}`
    }
 